* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova',Arial, sans-serif;
}

body {
    position: relative;
    background-color: #E8F2F1;
}

.container{
    margin-left: 20vw;
    position: relative;
}

.side-bar {
    position: fixed;
    width: 20vw;
    margin: 16px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: #023D4E;
    color: #E8F2F1;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.logo-text{
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 0px;
    height: 76.5vh;
    background-color: #008080;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.links .link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 0px 16px 32px;
    text-decoration: none;
    color: #E8F2F1;
    font-size: 20px;
    margin: 2px 16px;
    border-radius: 8px;
}


.links .link:hover {
    background-color: #023D4E;
    color: #E8F2F1;
}

.link.active{
    background-color: #023D4E;
}

.dashboard {
    padding: 40px;
}

.logout{
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #E8F2F1;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 16px;
    margin: 16px;
}

.logout:hover{
    background-color: #023D4E;
}

/* Products */

h1 {
    margin-bottom: 32px;
    font-size: 32px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.dropdown {
    display: flex;
    align-items: center;
}

.dropdown p{
    font-size: 24px;
    margin-right: 16px;
}

#category{
    padding: 8px;
}

.add-item {
    padding: 16px 32px;
    border: none;
    background-color: #023D4E;
    color: #E8F2F1;
    font-weight: bold;
    cursor: pointer;
}

.table{
    width: 100%;
    table-layout: fixed;
}

.table th{
    font-size: 24px;
}

.table td {
    font-size: 24px;
}

.table th:nth-child(1) {
    width: 10%;
}

.item-img{
    padding-right: 24px;
}

.item-img img{
    object-fit: cover;
    width: 100%;
    border: 1px solid #023D4E;
}

.table th:nth-child(2) {
    text-align: start;
    width: 20%;
}
.table th:nth-child(3) {
    text-align: start;
    width: 40%;
}

.item-des{
    overflow: hidden;
    white-space: nowrap;
    margin-right: 24px;
}

table th:nth-child(4) {
    text-align: start;
    width: 23%;
}
table th:nth-child(5) {
    width: 7%;
}

table td {
    padding: 16px 0px;
}

.table-item:hover {
    background-color: #008080;
}

/* Modal */
.modal{
    width: 100%;
    height: 100%;   
}

.item-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 24px;
    background-color: #008080;

}

.item-modal.hidden{
    visibility: hidden;
}

.exit {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-head{
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.form-input {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.name{
    width: 27%;
    padding: 10px;
}

.description {
    width: 68%;
    padding: 10px;
}

.item-category{
    padding: 10px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    width: 35%;
    background-color: #E8F2F1;
}

.item-category select{
    margin-left: 8px;
    border: none;
    background-color: #E8F2F1;
}

.price {
    padding: 10px;
    width: 30%;
}

.item-status {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    width: 25%;
    background-color: #E8F2F1;
}

.item-status select{
    margin-left: 4px;
    border: none;
    background-color: #E8F2F1;
}

.file {
    padding: 10px 0px;
}

.submit {
    padding: 12px 32px;
    background-color: #023D4E;
    color: #E8F2F1;
    font-weight: bold;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 24px;
    right: 27px;
}

/* Order */

.order{
    padding: 40px;
}

.status {
    display: flex;
    justify-content: center;
    padding: 16px 24px;
    color:#E8F2F1;
    border-radius: 8px;
    font-weight: bold;
}

.table-item td:nth-child(1){
    padding-left: 24px;
}

.table-item td:nth-child(5){
    padding-right: 24px;
}

/* Order Details */

.order-info{
    display: flex;
    flex-direction: column;
    padding: 64px;
    height: 100vh;
   
}

.order-details{
    display: flex;
    max-height: 80vh;
}


.order-info .left{
    padding: 32px;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.order-info .right{
    padding: 32px;
    width: 40%;
    background-color: #023D4E;
    color: #E8F2F1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.left-header{
    display: flex;
    justify-content: space-between;
}

.left-header h1{
    font-size: 28px;
}

.left-table{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}

.left-table table{
    width: 100%;
    height: 100%;
    padding-right: 24px;
}

.order-info .left-table tbody{
    height: 70%;
}

.left-table th{
    text-align: left;
    font-weight: 600;
}

.left-table th:nth-child(1){
    width: 50%;
    text-align: left;
}

.left-table th:nth-child(2){
    width: 15%;
    text-align: center;
}

.left-table th:nth-child(3){
    width: 15%;
    text-align: center;
}

.left-table th:nth-child(4){
    width: 20%;
    text-align: right;
}

.left-table td:nth-child(2), .left-table td:nth-child(3){
    text-align: center;
}

.left-table td:nth-child(4)
{
    text-align: right;
}

.item-details{
    display: flex;
    align-items: center;
    gap: 16px;
}

.item-details .img{
    width: 100px;
    height: 150px;
}

.item-details img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.order-info .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-info .right-header, .order-info .right-body{
    width: 100%;
}

.right-header .pricing{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    font-size: 24px;
    font-weight: bold;
}

.body-bottom{
    display: flex;
    gap: 16px;
    justify-content: end;
}

.right .body-bottom input{
    color: #E8F2F1;
    border: none;
    padding: 16px 32px;
    font-size: 20px;
}

.btn-submit{
    background-color: #008080;   
}

.btn-back{
    background-color: #C60303;
}

.body-top{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.body-top label{
    font-size: 18px;
    font-weight: bold;
}

.select-status{
    border: none;
    padding: 12px 24px;
    font-size: 16px;
}


/* Edit */

.edit{
    width: 100%;
}
.edit-container{
    padding: 40px;
}

/* .row{
    display: flex;
    justify-content: center;
    width: 100%;
} */

.row-inner{
    width: 60%;
    padding: 64px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.prod-details{
    margin-bottom: 24px;
}

.edit-product{
    display: flex;
    justify-content: center;
}

.edit img{
    width: 240px;
    height: 240px;
    object-fit: cover;
    border: 1px solid #023D4E;
}

.edit-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 24px;
}

.input-forms label{
    font-weight: bold;
}

.edit-right .name{
    width: 60%;
    margin-bottom: 24px;
}

.edit-right .price{
    width: 20.92%;
}

.edit-right .description{
    width: 100%;
    margin: 10px 0px;
    resize: none;
}

.edit-right #category, .edit-right #status{
    width: 36%;
}

.edit-right #category{
    margin-right: 10px;
}

.file{
    margin: 10px 0 24px 0;
}

.btn{
    align-self: self-end;
}

.edit-btn-back,.edit-btn-save{
    color: #E8F2F1;
    border: none;
    padding: 16px 32px;
    font-size: 20px;
}

.edit-btn-save{
    background-color: #024E2B;
}

.edit-btn-back{
    background-color: #C60303;
}

#status{
    padding: 8px;
}


/* Admin Login */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.login-container{
    display: flex;
    justify-content: center;
    width: 400px;
    padding: 64px;
    background-color: #023D4E;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-form h1{
    color: #E8F2F1;
    text-transform: uppercase;
}

.login-form hr{
    width: 50%;
    margin-bottom: 16px;
}

.text_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0px;
    width: 100%;
}

.text_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: #E8F2F1;
}

.text_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.text_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0px;
    width: 0%;
    height: 2px;
    background-color: #E8F2F1;
    transition: .5s;
}

.text_field input:focus ~ label, .text_field input:valid ~ label{
    top: -5px;
    color: #E8F2F1;
}

.text_field input:focus ~ span::before, .text_field input:valid ~ span::before{
    width: 100%;
}

.login-form #submit{
    padding: 16px 60px;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    background-color: #E8F2F1;
    cursor: pointer;
    transition: .3s;
}

.login-form #submit:hover{
    background-color: #008080;
    color: #E8F2F1;
}

/* Messages */

.messages{
    padding: 40px;
}

.messages .table, .messages table{
    width: 100%;
}

.messages .table th:nth-child(1){
    text-align: left;
    width: 30%;
}

.messages .table th:nth-child(2){
    text-align: left;
    width: 25%;
}

.messages .table th:nth-child(3){
    text-align: left;
    width: 15%;
}

.messages .table th:nth-child(4){
    text-align: left;
    width: 30%;
}

.messages .table tbody td{
    padding: 24px 0;
}

/* Message Detail */

