.menu {
    padding: 64px 0px;
}

.crumbs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crumbs img{
    width: 40px;
    height: 40px;
}

.cart {
    position: relative;
    cursor: pointer;
}

.cart-item{
    position: absolute;
    top: -16px;
    right: -16px;
    padding: 8px 12px;
    border-radius: 24px;
    border: 2px solid #E8F2F1;
    background-color: #023D4E;
    color: #E8F2F1;
    font-weight: bold;
}


.menu-crumbs{
    margin-bottom: 40px;
}

.menu-item-container{
    display: flex;
    /* justify-content: space-around; */
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-item{
    width: 18%;
}

.menu-img{
    height: 240px;
    background-color: aqua;
}

.menu-des {
    position: relative;
    height: 120px;
    background-color: #023D4E;
    color: #fff;
    padding: 24px;
    text-transform: uppercase;
}

.menu-des .menu-name{
    font-size: 20px;
}

.menu-price{
    position: absolute;
    right: 24px;
    bottom: 24px;
    font-size: 24px;
}

.add-to-cart{
    position: absolute;
    top: -30px;
    right: 16px;
    padding: 16px 16px 12px 16px;
    border-radius: 40px;
    background-color: #008080;
    cursor: pointer;
    
}

.add-to-cart img{
    width: 24px;
    height: 24px;
}