body{
    position: relative;
}

.menu {
    padding: 64px 0px;
}

.crumbs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crumbs img{
    width: 40px;
    height: 40px;
}

.cart {
    position: relative;
    cursor: pointer;
}

.cart-item1{
    position: absolute;
    top: -16px;
    right: -16px;
    padding: 8px 12px;
    border-radius: 32px;
    border: 2px solid #E8F2F1;
    background-color: #023D4E;
    color: #E8F2F1;
    font-weight: bold;
}


.menu-crumbs{
    margin-bottom: 40px;
}

.menu-item-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-item{
    width: 18.9%;

}

.menu-img{
    height: 240px;
    border: 1px solid #000;
    width: 100%;
    max-height: 280px;
}

.menu-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.menu-des {
    position: relative;
    height: 120px;
    background-color: #023D4E;
    color: #fff;
    padding: 24px;
    text-transform: uppercase;
}

.menu-des .menu-name{
    font-size: 20px;
}

.menu-price{
    position: absolute;
    right: 24px;
    bottom: 24px;
    font-size: 24px;
}

.add-to-cart{
    position: absolute;
    top: -30px;
    right: 16px;
    padding: 16px 16px 12px 16px;
    border-radius: 40px;
    background-color: #008080;
    cursor: pointer;
    
}

.add-to-cart img{
    width: 24px;
    height: 24px;
}

.cart-modal.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease,visibility 1s ease;
}

.cart-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity .2s ease;
}

.modal {
    position: relative;
    display: flex;
    padding: 40px;
    background-color: #fff;
}

.exit{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    cursor: pointer;
}

.left-modal {
    width: 40%;
    text-align: center;
    text-transform: uppercase;
    margin-right: 20px;
}

.modal-name {
    font-weight: bold;
    font-size: 24px;
}

.right-modal {
    width: 60%;
}

.modal-img {
    width: 100%;
    object-fit: contain;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.size-opt {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 20px;
    font-size: 20px;
}

.size p, .quantity p{
    font-size: 20px;
    font-weight: bold;
}

.quantity{
    display: flex;
    flex-direction: column;
}

.quantity-opt {
    padding: 16px;
}

.quantity img{
    width: 24px;
    margin: 0px 16px;
}


.quantity-val {
    padding: 8px;
    width: 48px;
    text-align: center;
    font-size: 20px;
}

hr{
    height: 2px;
    background-color: #000;
    border: none;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 20px;
    text-transform: uppercase;
}

.total-price{
    font-weight: bold;
    font-size: 32px;
}

.total .total-add{
    padding: 16px 32px;
    background-color: #023D4E;
    color: #fff;
    border: none;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

/* Customer Name Modal */

.customer-modal.hidden {
    display: none;
}

.customer-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 64px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #E8F2F1;
}

.customer-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customer-input h1{
    text-align: center;
    margin-bottom: 24px;
}

.customer-input .customerName{
    padding: 16px;
    font-size: 18px;
    margin-bottom: 24px;
}

.customer-input .customer-submit{
    padding: 16px 32px;
    border: none;
    background-color: #023D4E;
    color: #E8F2F1;
    font-size: 16px;
}